@import '../styles/_variables';

.stache-layout {
  margin-top: $stache-padding-size;
}

@mixin create_columns($screen-size: sm) {
  @for $i from 1 through $stache-grid-columns {
    .col-#{$screen-size}-#{$i} {
      width: ($i / $stache-grid-columns) * 100%;
    }

    .col-#{$screen-size}-#{$i} {
      padding-right: $stache-padding-size;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  margin-left: -$stache-padding-size;
  margin-right: -$stache-padding-size;

  @media (min-width: $stache-screen-sm) {
    flex-direction: row;
  }
}

@media (min-width: $stache-screen-sm) {
  @include create_columns(sm);
}

@media (min-width: $stache-screen-md) {
  @include create_columns(md);
}

@media (min-width: $stache-screen-lg) {
  @include create_columns(lg);
}
